<nz-table
  #basicTable
  [nzData]="lstDepot"
  [nzFrontPagination]="false"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageNumber"
  [nzTotal]="totalPage"
  (nzPageIndexChange)="onPageChange($event)"
  [nzFooter]="footer"
>
  <thead>
    <tr>
      <th>STT</th>
      <th>Mã kho hàng</th>
      <th>Tên kho hàng</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.code }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.phone }}</td>
      <td>
        <button
          nz-button
          nzType="text"
          class="mr-1"
          title="Sửa"
          (click)="editDepot(data)"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="text" title="Xóa" (click)="deleteDepot(data)">
          <i nz-icon nzType="delete" nzTheme="outline" class="text-danger"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <ng-template #footer>
    <span *ngIf="totalPage">Tổng {{ totalPage }} bản ghi</span>
  </ng-template>
</nz-table>
