<cms-page title="{{ isEdit ? 'Cập nhật' : 'Tạo mới' }} State" [close]="true">
  <div action>
    <button nz-button nzType="primary" class="mr-3" (click)="onSubmit()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <span class="d-none d-md-inline-block">Xác nhận</span>
    </button>
  </div>
  <div content>
    <form nz-form [formGroup]="mainForm" class="login-form">
      <div nz-row class="my-2 p-0 p-lg-4">
        <div nz-col nzXs="24">
          <div nz-row [nzGutter]="[60, 20]">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                  <span>Tên State</span>
                </nz-form-label>
                <nz-form-control
                  [nzSm]="18"
                  [nzXs]="24"
                  nzErrorTip="Không để trống tên State!"
                >
                  <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Nhập tên State"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="userHolder"
                  nzRequired
                >
                  <span>Người sở hữu State</span>
                </nz-form-label>
                <nz-form-control
                  [nzSm]="18"
                  [nzXs]="24"
                  nzErrorTip="Không để trống người sở hữu!"
                >
                  <nz-select
                    class="width-full"
                    nzShowSearch
                    formControlName="userHolder"
                    nzPlaceHolder="Người quản lý State"
                    nzAllowClear
                  >
                    <nz-option
                      class="width-full"
                      *ngFor="let o of lstUserHolder"
                      [nzValue]="o.id"
                      [nzLabel]="o.firstName + ' ' + o.lastName"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
                  <span>Ghi chú</span>
                </nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24">
                  <textarea
                    nz-input
                    formControlName="description"
                    id="description"
                    name="description"
                    [nzAutosize]="true"
                    placeholder="Nhập ghi chú"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <nz-table
          #iDataTable
          [nzFooter]="titleTable"
          [nzFrontPagination]="false"
          [nzTotal]="totalPage"
          [nzTitle]="header"
          [nzData]="lstUser"
          [nzScroll]="{ y: '100%' }"
        >
          <thead>
            <tr>
              <th nzWidth="50px">Stt</th>
              <th>Tên người dùng</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th nzWidth="150px">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of lstUser; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <span>{{ data.firstName + data.lastName }}</span>
              </td>
              <td>
                <span>{{ data.email }}</span>
              </td>
              <td>
                <span>{{ data.phoneNumber }}</span>
              </td>
              <td>
                <div class="btn-delete">
                  <button
                    nz-button
                    nzType="text"
                    title="Xóa"
                    (click)="onDeleteUser(i)"
                  >
                    <i
                      nz-icon
                      nzType="delete"
                      nzTheme="outline"
                      class="text-danger"
                    ></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <ng-template #titleTable>
          <span
            nz-typography
            nzType="danger"
            *ngIf="isSubmit && lstUser.length === 0"
            >Không để trống danh sách!</span
          >
        </ng-template>
        <ng-template #header>
          <a class="add-form-array" (click)="addLstStateUser()"
            ><i nz-icon nzType="plus" nzTheme="outline"></i>
            <span class="ml-1">Thêm danh sách người dùng</span>
          </a>
        </ng-template>
      </div>
    </form>
  </div>
</cms-page>
