<div nz-row class="my-4">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <cms-map></cms-map>
  </div>
</div>
<!-- <div nz-row class="my-4" [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="15" nzXl="15" nzXXl="15">
        <cms-user-statistic></cms-user-statistic>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="9" nzXl="9" nzXXl="9">
        <cms-head-map></cms-head-map>
    </div>
</div>
<div nz-row class="my-4" [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
        <cms-deployment-charts></cms-deployment-charts>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
        <cms-transaction-charts></cms-transaction-charts>
    </div>
</div>
<div nz-row class="my-4" [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
        <cms-top-postoffice></cms-top-postoffice>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12">
        <cms-top-sml></cms-top-sml>
    </div>
</div> -->
