<cms-page
  [title]="
    codeLocker ? codeLocker.concat(' / ', 'Chỉnh sửa thông tin Locker') : '-'
  "
  [close]="true"
>
  <div action>
    <button nz-button nzType="primary" (click)="submitForm()">Xác nhận</button>
  </div>
  <div content class="mt-8">
    <h5 nz-typography>Thông tin Locker</h5>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      class="px-2 px-md-4"
    >
      <div nz-row [nzGutter]="[60, 20]">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>
              <span>Tên Locker</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="18"
              [nzXs]="24"
              nzErrorTip="Không để trống tên Locker!"
            >
              <input
                type="text"
                nz-input
                formControlName="title"
                placeholder="Nhập tên Locker"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="supplier" nzRequired>
              <span>Supplier</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="18"
              [nzXs]="24"
              nzErrorTip="Không để trống supplier!"
            >
              <nz-select
                id="supplier"
                formControlName="supplier"
                nzPlaceHolder="Nhập supplier"
              >
                <nz-option
                  *ngFor="let o of listLockerSupplier"
                  [nzValue]="o.id"
                  [nzLabel]="o.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="serial">
              <span style="margin-left: 10px">Serial</span>
            </nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <input
                type="text"
                nz-input
                formControlName="serial"
                placeholder="Nhập serial"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
              <span style="margin-left: 12px">Mô tả</span>
            </nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <textarea
                type="text"
                nz-input
                formControlName="description"
                placeholder="Nhập mô tả"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>
              <span>Nhóm Locker</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="18"
              [nzXs]="24"
              nzErrorTip="Không để trống nhóm Locker!"
            >
              <nz-select
                formControlName="category"
                nzPlaceHolder="Chọn nhóm Locker"
              >
                <nz-option
                  *ngFor="let item of listOfCategoryLocker; index as i"
                  [nzValue]="item.value"
                  [nzLabel]="item.text"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secret" nzRequired>
              <span>Mã bí mật</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="18"
              [nzXs]="24"
              nzErrorTip="Không để trống mã bí mật!"
            >
              <input
                type="text"
                nz-input
                formControlName="secret"
                placeholder="Nhập mã bí mật"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">
              <span style="margin-left: 10px">Trạng thái</span>
            </nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select formControlName="status">
                <nz-option [nzValue]="0" [nzLabel]="'OFFLINE'"></nz-option>
                <nz-option [nzValue]="1" [nzLabel]="'ONLINE'"></nz-option>
                <nz-option [nzValue]="2" [nzLabel]="'LOCKED'"></nz-option>
                <nz-option [nzValue]="3" [nzLabel]="'FULL'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lattlong">
              <span style="margin-left: 10px">Tọa độ</span>
            </nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <input
                type="text"
                nz-input
                formControlName="lattlong"
                placeholder="Nhập tọa độ"
              />
              <div
                *ngIf="
                  !validateForm.controls.lattlong?.valid &&
                  (validateForm.controls.lattlong?.dirty ||
                    validateForm.controls.lattlong?.touched)
                "
              >
                <div
                  class="alert-danger"
                  [hidden]="!validateForm.controls.lattlong.errors.pattern"
                >
                  * Hãy nhập đúng tọa độ theo dạng, Ex: 21.009009610216186,
                  105.76938496250344 !
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div>
        <div>
          <nz-divider
            nzText="Thông tin địa chỉ Locker"
            nzOrientation="left"
          ></nz-divider>
          <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="postOffice" nzRequired>
              <span>Bưu cục</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="24"
              [nzXs]="24"
              class="ml-6"
              nzErrorTip="Vui lòng chọn Bưu cục!"
            >
              <div class="mb-2 ml-1" style="width: 40%">
                <input
                  nz-input
                  id="postOffice"
                  (blur)="setProvince()"
                  formControlName="postOffice"
                  placeholder="Nhập mã bưu cục"
                />
              </div>
              <a
                href="javascript:void(0);"
                (click)="tonggleSeachPostOffice()"
                class="mt-2"
              >
                {{ showPostOffice ? "Ẩn tìm kiếm" : "Tìm kiếm bưu cục" }}
              </a>
              <i
                *ngIf="!showPostOffice"
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="font-size: 10px"
              ></i>
              <div *ngIf="showPostOffice" class="mt-2">
                <cms-post-search
                  (onSelect)="onSelectPost($event)"
                ></cms-post-search>
              </div>
              <div *ngIf="checkAddress" style="color: #b11226">
                <span>*Mã bưu cục không tồn tại. Vui lòng nhập lại!</span>
              </div>
            </nz-form-control>
          </nz-form-item>
          <div nz-row [nzGutter]="[60, 20]">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="locationlocker"
                  nzRequired
                >
                  <span nz-typography>Vị trí đặt locker</span>
                </nz-form-label>
                <nz-form-control
                  [nzSm]="18"
                  [nzXs]="24"
                  nzErrorTip="Vui lòng chọn loại địa điểm!"
                >
                  <nz-select
                    class="width-full"
                    nzShowSearch
                    formControlName="locationlocker"
                    nzPlaceHolder="Chọn loại địa điểm"
                    nzAllowClear
                  >
                    <nz-option
                      class="width-full"
                      *ngFor="let o of lstLockerPlace"
                      [nzValue]="o.id"
                      [nzLabel]="o.name"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <div nz-row [nzGutter]="[30, 20]">
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="9"
                      [nzXs]="24"
                      nzFor="provinceId"
                      nzRequired
                    >
                      <span nz-typography>Tỉnh/Thành phố</span>
                    </nz-form-label>
                    <nz-form-control
                      [nzSm]="15"
                      [nzXs]="24"
                      nzErrorTip="Vui lòng chọn Tỉnh/Thành phố!"
                    >
                      <nz-select
                        class="width-full"
                        nzShowSearch
                        formControlName="provinceId"
                        nzPlaceHolder="Chọn tỉnh"
                        nzAllowClear
                        (ngModelChange)="provinceChange($event)"
                      >
                        <nz-option
                          *ngFor="let o of listOfProvince"
                          [nzValue]="o.maTinh"
                          [nzLabel]="o.name"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="9"
                      [nzXs]="24"
                      nzFor="distId"
                      nzRequired
                    >
                      <span nz-typography>Quận/Huyện</span>
                    </nz-form-label>
                    <nz-form-control
                      [nzSm]="15"
                      [nzXs]="24"
                      nzErrorTip="Vui lòng chọn Quận/Huyện!"
                    >
                      <nz-select
                        class="width-full"
                        nzShowSearch
                        formControlName="distId"
                        nzPlaceHolder="Chọn quận/huyện"
                        nzAllowClear
                        (ngModelChange)="distChange($event)"
                      >
                        <nz-option
                          *ngFor="let o of listOfDist"
                          [nzValue]="o.id"
                          [nzLabel]="o.tenQuanHuyen"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="9"
                      [nzXs]="24"
                      nzFor="wardId"
                      nzRequired
                    >
                      <span nz-typography>Phường/Xã</span>
                    </nz-form-label>
                    <nz-form-control
                      [nzSm]="15"
                      [nzXs]="24"
                      nzErrorTip="Vui lòng chọn Phường/Xã!"
                    >
                      <nz-select
                        class="width-full"
                        nzShowSearch
                        formControlName="wardId"
                        nzPlaceHolder="Chọn phường/xã"
                        nzAllowClear
                        (ngModelChange)="wardChange()"
                      >
                        <nz-option
                          class="width-full"
                          *ngFor="let o of listOfWard"
                          [nzValue]="o.id"
                          [nzLabel]="o.name"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="streetAddress"
                  nzRequired
                >
                  <span>Địa chỉ </span>
                </nz-form-label>
                <nz-form-control
                  [nzSm]="18"
                  [nzXs]="24"
                  nzErrorTip="Vui lòng không bỏ trống địa chỉ!"
                >
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    formControlName="streetAddress"
                    [nzDropdownRender]="renderTemplate"
                    nzPlaceHolder="Chọn địa chỉ"
                    (ngModelChange)="addressChange($event)"
                  >
                    <ng-container *ngIf="total > 0">
                      <nz-option
                        *ngFor="let m of listOfAddress"
                        [nzLabel]="m.detail.concat(' - ', m.buildingClass.name)"
                        [nzValue]="m.id"
                      ></nz-option>
                    </ng-container>
                  </nz-select>
                  <ng-template #renderTemplate>
                    <nz-divider></nz-divider>
                    <div class="container">
                      <a
                        nzType="primary"
                        class="add-address"
                        (click)="addAddress()"
                      >
                        <i nz-icon nzType="plus"></i>
                        <span class="ml-1">Thêm địa chỉ mới</span>
                      </a>
                    </div>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</cms-page>
